.Meal{
    color: rgb(118, 118, 118);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Meal button{
    margin-left: 1em;
    height: 50%;
    background-color: rgb(138, 2, 2);
}
.Meal img{
    margin-right: 2em;
    width: 5em;
    border-radius: 1em;
}